{{#each members as |member|}}
  {{!-- {{log member}} --}}
<div class="col-4">
  <section data-id="{{member.id}}" class="one_part_of_the_list">
    <div class="XXX all_x" id="XXX" value="{{member.id}}">x</div>
    <h6><span class="wordRed">Member_Id: </span>{{member.id}}</h6>
    <h6><span class="wordRed">Team_Name: </span>{{member.team.name}}</h6>
    <h6><span class="wordRed">Hero_Name: </span>{{member.hero.name}}</h6>
  </section>
</div>
{{/each}}
