{{#each members as |member|}}
  {{log member}}
<div class="col-4">
  <section data-id="{{member.id}}" class="one_part_of_the_list">
    <h6><span class="wordRed">Team_Id: </span>{{member.team.id}}</h6>
    <h6><span class="wordRed">Hero_Id: </span>{{member.hero.id}}</h6>
    <h6><span class="wordRed">Hero_Name: </span>{{member.hero.name}}</h6>
  </section>
</div>
{{/each}}
