{{#each teams as |team|}}
  {{log team}}
<div class="col-4">
  <section data-id="{{team.id}}"  class="one_part_of_the_list">
    <h6><span class="wordRed">Team_Id: </span>{{team.id}}</h6>
    <h6><span class="wordRed">Team_Name: </span>{{limit team.name 15}}</h6>
    <h6 class="wordRed">Create_Date:</h6>
    <h5>
      {{#if team.create_date}}
        {{team.create_date}}
      {{else}}
        No date provided.
      {{/if}}
    </h5>
    <h6><span class="wordRed">Heros_Name: </span></h6>
    {{#each team.heros as |hero|}}
      {{log hero}}
      <h6>
        {{#if hero.name}}
          {{hero.name}}
        {{else}}
          No hero in this team.
        {{/if}}
      </h6>
    {{/each}}
    <h6 class="wordRed">Comment:</h6>
    <h5>
      {{#if team.comment}}
        {{team.comment}}
      {{else}}
        No comment provided.
      {{/if}}
    </h5>
  </section>
</div>
{{/each}}
