{{#each teams as |team|}}
  {{log team}}
<div class="col-4">
  <section data-id="{{team.id}}">
    <h6><span class="wordRed">Id: </span>{{team.id}}</h6>
    <h6><span class="wordRed">Name: </span>{{limit team.name 15}}</h6>
    <h6 class="wordRed">Date:</h6>
    <h5>
      {{#if team.create_date}}
        {{team.create_date}}
      {{else}}
        No date provided.
      {{/if}}
    </h5>
    <h6 class="wordRed">Comment:</h6>
    <h5>
      {{#if team.comment}}
        {{team.comment}}
      {{else}}
        No comment provided.
      {{/if}}
    </h5>
    -----------------------------

  </section>
</div>

{{/each}}
